<div class="mat-typography">
  <h2 md-dialog-title>Search Inventory</h2>
  <md-dialog-content>
    <md-input-container>
      <input mdInput placeholder="ID" type="number" [(ngModel)]="search.ID">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Name" type="text" [(ngModel)]="search.Name">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Description" type="text" [(ngModel)]="search.Description">
    </md-input-container>
  </md-dialog-content>
  <md-dialog-actions>
    <button md-raised-button color="primary" [md-dialog-close]="false" class="space right">Cancel</button>
    <button md-raised-button color="accent" [md-dialog-close]="true">Search</button>
  </md-dialog-actions>
</div>
