<div class="mat-typography">
  <md-table [dataSource]="inventoryDataSource">

    <!-- Define Table Columns-->

    <ng-container cdkColumnDef="ID">
      <md-header-cell *cdkHeaderCellDef>ID</md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.ID}} </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="Name">
      <md-header-cell *cdkHeaderCellDef>Name</md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.Name}} </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="Description">
      <md-header-cell *cdkHeaderCellDef>Description</md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.Description}} </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="Expiration">
      <md-header-cell *cdkHeaderCellDef>Expiration</md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.ExpirationDate | date:'medium'}} </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="Maintance">
      <md-header-cell *cdkHeaderCellDef>Maintance</md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.MaintanceDate | date:'medium'}} </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="Location">
      <md-header-cell *cdkHeaderCellDef>Location</md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.Location.Description}} </md-cell>
    </ng-container>

    <!-- End -->

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>

  <md-paginator [length]="inventoryDatabase.length" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50, 100]">
  </md-paginator>
</div>
