<div fxLoyout="column" fxLayoutAlign="center start">
  <div fxFlex fxFlex.gt-md="80">
    <md-toolbar fxLayout="row" fxLayoutAlign="end start">
      <md-form-field class="space right" style="font-size:16px;">
        <input mdInput placeholder="Quick Search">
      </md-form-field>
      <button md-icon-button (click)="clearSearch()" mdTooltip="Clear"><md-icon>clear</md-icon></button>
      <button md-button (click)="showSearchOptionsDialog()"><md-icon>search</md-icon><span>Advance Search</span></button>
      <button md-mini-fab (click)="addInventory()" class="space left"><md-icon>add</md-icon></button>
      <md-spinner *ngIf="inProgress" class="space left"></md-spinner>
    </md-toolbar>
    <div>
      <md-table [dataSource]="inventoryDataSource">
        <!-- Define Table Columns-->

        <ng-container cdkColumnDef="ID">
          <md-header-cell *cdkHeaderCellDef fxFlex="30px">ID</md-header-cell>
          <md-cell *cdkCellDef="let row" fxFlex="30px"> {{row.ID}} </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="Name">
          <md-header-cell *cdkHeaderCellDef>Name</md-header-cell>
          <md-cell *cdkCellDef="let row"> {{row.Name}} </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="Description">
          <md-header-cell *cdkHeaderCellDef>Description</md-header-cell>
          <md-cell *cdkCellDef="let row"> {{row.Description}} </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="Expiration">
          <md-header-cell *cdkHeaderCellDef>Expiration</md-header-cell>
          <md-cell *cdkCellDef="let row"><span [mdTooltip]="row.ExpirationDate | date:'mediumDate'" mdTooltipPosition="after">{{row.ExpirationDate | amTimeAgo}}</span></md-cell>
        </ng-container>

        <ng-container cdkColumnDef="Maintance">
          <md-header-cell *cdkHeaderCellDef>Maintance</md-header-cell>
          <md-cell *cdkCellDef="let row"><span [mdTooltip]="row.MaintanceDate | date:'mediumDate'" mdTooltipPosition="after">{{row.MaintanceDate | amTimeAgo}}</span></md-cell>
        </ng-container>

        <ng-container cdkColumnDef="Location">
          <md-header-cell *cdkHeaderCellDef>Location</md-header-cell>
          <md-cell *cdkCellDef="let row"> {{row.Location.Name}} </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="Actions">
          <md-header-cell *cdkHeaderCellDef fxFlex="40px">Edit</md-header-cell>
          <md-cell *cdkCellDef="let row" fxFlex="40px">
            <button md-icon-button (click)="editInventory(row)"><md-icon>edit</md-icon></button>
            <button md-icon-button (click)="deleteInventory(row)"><md-icon>delete</md-icon></button>
          </md-cell>
        </ng-container>

        <!-- End -->

        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>

      </md-table>
    </div>
    <div>
      <md-paginator [length]="currentPage.TotalCount" [pageIndex]="searchParams.PageIndex" [pageSize]="searchParams.PageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="updatePage($event)"></md-paginator>
    </div>
    <br />
    <br />
    <div>
        <md-expansion-panel *ngFor="let item of inventoryDatabase.data">
          <md-expansion-panel-header>
            <md-panel-title>{{item.Name}}</md-panel-title>
            <md-panel-description>{{item.Description}}</md-panel-description>
          </md-expansion-panel-header>
          <div fxlayout="column" fxLayoutGap="10px" fxLayoutAlign="space-around center">
            <div fxLayout="row" fxLayoutAlign="space-around center">
              <md-card fxFlex="30">
                <md-card-header>
                  <md-card-title>Location</md-card-title>
                </md-card-header>
                {{item.Location.Name}}
              </md-card>
              <md-card fxFlex="30">
                <md-card-header>
                  <md-card-title>Expiration Date</md-card-title>
                </md-card-header>
                {{item.ExpirationDate}}
              </md-card>
              <md-card fxFlex="30">
                <md-card-header>
                  <md-card-title>Maintenance Date</md-card-title>
                </md-card-header>
                {{item.MaintanceDate}}
              </md-card>
            </div>
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center">
              <button md-raised-button color="accent" (click)="editInventory(item)">Edit</button>
              <button md-raised-button color="warn" (click)="deleteInventory(item)">Delete</button>
            </div>
          </div>

        </md-expansion-panel>
    </div>
  </div>
</div>
