<div class="mat-typography">
  <h2 mat-dialog-title>Search Users</h2>
  <mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="First Name" type="text" [(ngModel)]="search.FirstName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Last Name" type="text" [(ngModel)]="search.LastName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" type="text" [(ngModel)]="search.Email">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="accent" [mat-dialog-close]="true">Search</button>
  </mat-dialog-actions>
</div>
