<main fxLayout="column" fxLayoutAlign="start center">
  <span fxFlex="10"></span>
  <md-card>
    <h2>Login</h2>
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <div class="space bottom">
        <md-input-container>
          <input mdInput #email="ngModel" name="email" placeholder="Email" type="email" [(ngModel)]="loginModel.Email" required [pattern]="EMAIL_REGEX">
          <md-error *ngIf="email.errors?.required">Email is <strong>required</strong></md-error>
          <md-error *ngIf="email.errors?.pattern">Please enter a valid email address</md-error>
        </md-input-container>
        <md-input-container>
          <input mdInput #password="ngModel" name="password" placeholder="Password" type="password" [(ngModel)]="loginModel.Password" required>
          <md-error *ngIf="password.errors?.required">Password is <strong>required</strong></md-error>
        </md-input-container>
      </div>
      <div class="space bottom">
        <button md-raised-button color="accent" [disabled]="!loginForm.valid">Login</button>
        <md-spinner *ngIf="inProgress" class="space left"></md-spinner>
      </div>
      <div>
        <md-error>{{errorMessage}}</md-error>
      </div>
    </form>
  </md-card>
</main>

