<h2 md-dialog-title>{{title}}</h2>
<md-dialog-content>
  <md-input-container>
    <input mdInput placeholder="ID" type="number" [(ngModel)]="inventory.ID">
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="Name" type="text" [(ngModel)]="inventory.Name">
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="Description" type="text" [(ngModel)]="inventory.Description">
  </md-input-container>
  <br />
  <md-input-container>
    <input mdInput [mdDatepicker]="date1" placeholder="Expiration Date" type="date" [(ngModel)]="inventory.ExpirationDate">
    <md-datepicker-toggle mdSuffix [for]="date1"></md-datepicker-toggle>
  </md-input-container>
  <md-datepicker #date1></md-datepicker>
  <md-input-container>
    <input mdInput [mdDatepicker]="date2" placeholder="Maintance Date" type="date" [(ngModel)]="inventory.MaintanceDate">
    <md-datepicker-toggle mdSuffix [for]="date2"></md-datepicker-toggle>
  </md-input-container>
  <md-datepicker #date2></md-datepicker>

</md-dialog-content>
<md-dialog-actions>
  <button md-raised-button color="primary" [md-dialog-close]="false" class="space right">Calcel</button>
  <button md-raised-button color="accent" [md-dialog-close]="true">{{btnText}}</button>
</md-dialog-actions>
