<div fxLoyout="column" fxLayoutAlign="center start" (authReady)="authReady()">
  <div fxFlex fxFlex.gt-md="80">

    <mat-toolbar fxLayout="row" fxLayoutAlign="end start" *showAuth="'Admin'">
      <mat-form-field class="space right" style="font-size:16px;">
        <input matInput placeholder="Quick Search" (change)="quickSearch()" [(ngModel)]="quickSearchVal">
      </mat-form-field>
      <button mat-icon-button (click)="clearSearch()" matTooltip="Clear"><mat-icon>clear</mat-icon></button>
      <button mat-button (click)="showSearchOptionsDialog()"><mat-icon>search</mat-icon><span>Advanced Search</span></button>
      <button mat-mini-fab (click)="addUser()" class="space left" matTooltip="Add User" ><mat-icon>add</mat-icon></button>
      <mat-spinner [diameter]="40" [strokeWidth]="5" *ngIf="inProgress; else spaceBlock" class="space left"></mat-spinner>
      <ng-template #spaceBlock><span fxFlex="56px"></span></ng-template>
    </mat-toolbar>

    <div>
      <mat-table [dataSource]="userDataSource">

        <ng-container cdkColumnDef="FirstName">
          <mat-header-cell *cdkHeaderCellDef>First Name</mat-header-cell>
          <mat-cell *cdkCellDef="let row"> {{row.FirstName}} </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="LastName">
          <mat-header-cell *cdkHeaderCellDef>Last Name</mat-header-cell>
          <mat-cell *cdkCellDef="let row"> {{row.LastName}} </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="Email">
          <mat-header-cell *cdkHeaderCellDef>Email</mat-header-cell>
          <mat-cell *cdkCellDef="let row"> {{row.Email}} </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="Position">
          <mat-header-cell *cdkHeaderCellDef>Position</mat-header-cell>
          <mat-cell *cdkCellDef="let row"> {{row.Position}} </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="Role">
          <mat-header-cell *cdkHeaderCellDef>Role(s)</mat-header-cell>
          <mat-cell *cdkCellDef="let row"><span *ngFor="let role of row.UserRoles">{{role.Name}} <br/></span> </mat-cell>
        </ng-container>        


        <ng-container cdkColumnDef="Actions">
          <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
          <mat-cell *cdkCellDef="let row" fxLayout="row" fxLayoutAlign="end start">
            <button mat-icon-button [matMenuTriggerFor]="moreMenu"><mat-icon>more_vert</mat-icon> </button>
            <mat-menu #moreMenu="matMenu">
              <button mat-menu-item (click)="editUser(row)">Edit</button>
              <button mat-menu-item (click)="deleteUser(row)">Remove</button>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
    </div>
  </div>
</div>

