<form #inventoryForm="ngForm">
  <h2 md-dialog-title>{{title}}</h2>
  <md-dialog-content>
    <!--<md-input-container>
      <input mdInput name="id" placeholder="ID" type="number" [(ngModel)]="inventory.ID">
    </md-input-container>-->
    <md-input-container>
      <input mdInput name="name" placeholder="Name" type="text" [(ngModel)]="inventory.Name">
    </md-input-container>
    <md-input-container>
      <input mdInput name="description" placeholder="Description" type="text" [(ngModel)]="inventory.Description">
    </md-input-container>
    <br />
    <md-input-container>
      <input mdInput #expirationDate="ngModel" name="expirationDate" [mdDatepicker]="date1" placeholder="Expiration Date" [(ngModel)]="inventory.ExpirationDate" required [pattern]="DateFormat" [min]="now">
      <md-datepicker-toggle mdSuffix [for]="date1"></md-datepicker-toggle>
    </md-input-container>
    <md-datepicker #date1></md-datepicker>
    <md-input-container>
      <input mdInput name="maintanceDate" placeholder="Maintance Interval" type="text" [(ngModel)]="inventory.MaintenanceIntervalDays">
    </md-input-container>
    <br />
    <div>
      <span>Expiry Alert Times</span>
      <div *ngFor="let alert of expirationAlertTimes">
        <span>{{alert.Name}}</span>
        <span>{{alert.DaysBefore}}</span>
      </div>
    </div>
    <br />
    <md-select #slectAlert placeholder="Select Alert Time" style="width:200px;">
      <md-option *ngFor="let alert of allAlertTimes" [value]="alert.ID">
        {{ alert.Name }} ({{alert.DaysBefore}})
      </md-option>
    </md-select>
    <button md-raised-button color="accent" (click)="addAlert(slectAlert.value)">{{btnText}}</button>
  </md-dialog-content>
  <md-dialog-actions>
    <button md-raised-button color="primary" [md-dialog-close]="false" class="space right">Cancel</button>
    <button md-raised-button color="accent" [md-dialog-close]="true">{{btnText}}</button>
  </md-dialog-actions>
</form>
<br />
<!--{{expirationDate.errors | json}}-->
