<md-sidenav-container class="full">
  <md-sidenav #sidenav mode="side">
    <md-toolbar color="accent">
      <h1>Navigation</h1>
    </md-toolbar>
    <md-list>
      <md-list-button Icon="home" Route="inventoty/dashboard">Inventory Dashboard</md-list-button>
    </md-list>
  </md-sidenav>
  <main class="full" fxLayout="column">
    <md-toolbar color="primary">
      <button md-button (click)="sidenav.toggle()"><md-icon>menu</md-icon></button>
      <h1>AIMAS</h1>
    </md-toolbar>
    <content fxFlex>
      <router-outlet></router-outlet>
    </content>
  </main>
</md-sidenav-container>
