<md-sidenav-container class="full">
  <md-sidenav #sidenav mode="over">
    <md-toolbar color="accent">
      <h1>Navigation</h1>
      <md-toolbar-row fxLayout="row" *showAuth>
        <md-icon class="space right">account_circle</md-icon>
        <samp>{{authInfo.User.FirstName}}</samp>
        <span fxFlex></span>
        <button md-icon-button (click)="logout()"><md-icon>exit_to_app</md-icon></button>
      </md-toolbar-row>
    </md-toolbar>
    <md-list>
      <md-list-button Icon="account_circle" Route="auth/login" (btn-click)="sidenav.close()" *showAuth="'!'">Login</md-list-button>
      <md-list-button Icon="home" Route="inventory/dashboard" (btn-click)="sidenav.close()" *showAuth>Inventory Dashboard</md-list-button>
      <md-list-button Icon="home" Route="inventory/management" (btn-click)="sidenav.close()" *showAuth>Inventory Management</md-list-button>
    </md-list>
  </md-sidenav>
  <main class="full" fxLayout="column">
    <md-toolbar color="primary">
      <button md-button (click)="sidenav.toggle()"><md-icon>menu</md-icon></button>
      <h1>{{title}}</h1>
    </md-toolbar>
    <content fxFlex>
      <router-outlet></router-outlet>
    </content>
  </main>
</md-sidenav-container>
