<main fxLoyout="column" fxLayoutAlign="center start" (authReady)="authReady()">
  <div fxFlex fxFlex.gt-md="80">
    <mat-toolbar fxLayout="row" fxLayoutAlign="end start">
      <mat-form-field class="space right" style="font-size:16px;">
        <input matInput placeholder="Quick Search" (change)="quickSearch()" [(ngModel)]="quickSearchVal">
      </mat-form-field>
      <button mat-icon-button (click)="clearSearch()" matTooltip="Clear"><mat-icon>clear</mat-icon></button>
      <button mat-button (click)="showSearchOptionsDialog()"><mat-icon>search</mat-icon><span>Advanced Search</span></button>
      <mat-spinner [diameter]="40" [strokeWidth]="5" *ngIf="inProgress; else spaceBlock" class="space left"></mat-spinner>
      <ng-template #spaceBlock><span fxFlex="56px"></span></ng-template>
    </mat-toolbar>
    <div>
      <mat-table [dataSource]="reservationDataSource">

        <ng-container cdkColumnDef="ID">
          <mat-header-cell *cdkHeaderCellDef>ID</mat-header-cell>
          <mat-cell *cdkCellDef="let row"> {{row.ID}} </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="UserName">
          <mat-header-cell *cdkHeaderCellDef>Reservation Creator</mat-header-cell>
          <mat-cell *cdkCellDef="let row"> {{row.User.FirstName}} {{row.User.LastName}} </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="BookingPurpose">
          <mat-header-cell *cdkHeaderCellDef fxFlex>Purpose</mat-header-cell>
          <mat-cell *cdkCellDef="let row" fxFlex> {{row.BookingPurpose}} </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="BookingStart">
          <mat-header-cell *cdkHeaderCellDef>Start</mat-header-cell>
          <mat-cell *cdkCellDef="let row"><span [matTooltip]="row.BookingStart | date:'mediumDate'" matTooltipPosition="after">{{row.BookingStart | amTimeAgo}}</span></mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="BookingEnd">
          <mat-header-cell *cdkHeaderCellDef>End</mat-header-cell>
          <mat-cell *cdkCellDef="let row"><span [matTooltip]="row.BookingEnd | date:'mediumDate'" matTooltipPosition="after">{{row.BookingEnd | amDifference: row.BookingStart :'days' : true}} days</span></mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="Location">
          <mat-header-cell *cdkHeaderCellDef>Location</mat-header-cell>
          <mat-cell *cdkCellDef="let row"> {{row.Location.Name}} </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="Actions">
          <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
          <mat-cell *cdkCellDef="let row" fxLayout="row" fxLayoutAlign="end start">
            <button mat-icon-button [matMenuTriggerFor]="moreMenu" *showAuth="'Admin'"><mat-icon>more_vert</mat-icon> </button>
            <mat-menu #moreMenu="matMenu">
              <button mat-menu-item (click)="showReservationDetails(row)">View Details</button>
              <button mat-menu-item (click)="deleteReservation(row)">Remove</button>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
    </div>
    <div>
      <mat-paginator [length]="currentPage.TotalCount" [pageIndex]="searchParams.PageIndex" [pageSize]="searchParams.PageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="updatePage($event)"></mat-paginator>
    </div>
  </div>
</main>
