<main fxLoyout="column" fxLayoutAlign="center start" (authReady)="authReady()">
  <div fxFlex fxFlex.gt-md="80">
    <mat-toolbar fxLayout="row" fxLayoutAlign="end start">
      <mat-form-field class="space right" style="font-size:16px;">
        <input matInput placeholder="Quick Search" (change)="quickSearch()" [(ngModel)]="quickSearchVal">
      </mat-form-field>
      <button mat-icon-button (click)="clearSearch()" matTooltip="Clear"><mat-icon>clear</mat-icon></button>
      <button mat-button (click)="showSearchOptionsDialog()"><mat-icon>search</mat-icon><span>Advance Search</span></button>
      <button mat-mini-fab (click)="addInventory()" class="space left" matTooltip="Add Inventory" *showAuth="'Admin'"><mat-icon>add</mat-icon></button>
      <div *ngIf="selectedInventory.length > 0"><button mat-mini-fab (click)="newReservation()" class="space left" matTooltip="Reserve Inventory" *showAuth><mat-icon>save</mat-icon></button></div>
      <mat-spinner [diameter]="40" [strokeWidth]="5" *ngIf="inProgress; else spaceBlock" class="space left"></mat-spinner>
      <ng-template #spaceBlock><span fxFlex="56px"></span></ng-template>
    </mat-toolbar>
    <div>
      <mat-table [dataSource]="inventoryDataSource">

        <ng-container cdkColumnDef="ID">
          <mat-header-cell *cdkHeaderCellDef>ID</mat-header-cell>
          <mat-cell *cdkCellDef="let row"> {{row.ID}} </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="Name">
          <mat-header-cell *cdkHeaderCellDef>Name</mat-header-cell>
          <mat-cell *cdkCellDef="let row"> {{row.Name}} </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="Description">
          <mat-header-cell *cdkHeaderCellDef fxFlex>Description</mat-header-cell>
          <mat-cell *cdkCellDef="let row" fxFlex> {{row.Description}} </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="Expiration">
          <mat-header-cell *cdkHeaderCellDef>Expiration</mat-header-cell>
          <mat-cell *cdkCellDef="let row"><span [matTooltip]="row.ExpirationDate | date:'mediumDate'" matTooltipPosition="after">{{row.ExpirationDate | amTimeAgo}}</span></mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="Maintenance">
          <mat-header-cell *cdkHeaderCellDef>Maintenance Interval</mat-header-cell>
          <mat-cell *cdkCellDef="let row"> {{row.MaintenanceIntervalDays}} days </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="Location">
          <mat-header-cell *cdkHeaderCellDef>Location</mat-header-cell>
          <mat-cell *cdkCellDef="let row"> {{row.CurrentLocation.Name}} </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="Reserve">
          <mat-header-cell *cdkHeaderCellDef>Reserve</mat-header-cell>
          <mat-cell *cdkCellDef="let row"><mat-checkbox [checked]="isSelected(row.ID)" (change)="reserve(row.ID, $event.checked)"></mat-checkbox></mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="Actions">
          <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
          <mat-cell *cdkCellDef="let row" fxLayout="row" fxLayoutAlign="end start">
            <button mat-icon-button [matMenuTriggerFor]="moreMenu" *showAuth="'Admin'"><mat-icon>more_vert</mat-icon> </button>
            <mat-menu #moreMenu="matMenu">
              <button mat-menu-item (click)="editInventory(row)">Edit</button>
              <button mat-menu-item (click)="deleteInventory(row)">Remove</button>
              <button mat-menu-item (click)="reportInventory(row)">Report</button>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
    </div>
    <div>
      <mat-paginator [length]="currentPage.TotalCount" [pageIndex]="searchParams.PageIndex" [pageSize]="searchParams.PageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="updatePage($event)"></mat-paginator>
    </div>
    <!--<br />
    <br />
    <div>
      <mat-expansion-panel *ngFor="let item of inventoryDatabase.data">
        <mat-expansion-panel-header>
          <mat-panel-title>{{item.Name}}</mat-panel-title>
          <mat-panel-description>{{item.Description}}</mat-panel-description>
        </mat-expansion-panel-header>
        <div fxlayout="column" fxLayoutGap="10px" fxLayoutAlign="space-around center">
          <div fxLayout="row" fxLayoutAlign="space-around center">
            <mat-card fxFlex="30">
              <mat-card-header>
                <mat-card-title>Location</mat-card-title>
              </mat-card-header>
              {{item.CurrentLocation.Name}}
            </mat-card>
            <mat-card fxFlex="30">
              <mat-card-header>
                <mat-card-title>Expiration Date</mat-card-title>
              </mat-card-header>
              {{item.ExpirationDate}}
            </mat-card>
          </div>
          <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center">
            <button mat-raised-button color="accent" (click)="editInventory(item)">Edit</button>
            <button mat-raised-button color="warn" (click)="deleteInventory(item)">Delete</button>
          </div>
        </div>

      </mat-expansion-panel>
    </div>-->
  </div>
</main>
