<form #userForm="ngForm">
  <h2 md-dialog-title>{{title}}</h2>
  <md-dialog-content>

    <md-input-container>
      <input mdInput name="id" placeholder="ID" type="number" [(ngModel)]="user.Id" />
    </md-input-container>
    <md-input-container>
      <input mdInput name="firstName" placeholder="First Name" type="text" [(ngModel)]="user.FirstName" />
    </md-input-container>
    <md-input-container>
      <input mdInput name="lastName" placeholder="Last Name" type="text" [(ngModel)]="user.LastName" />
    </md-input-container>
    <md-input-container>
      <input mdInput name="email" placeholder="Email" type="text" [(ngModel)]="user.Email" />
    </md-input-container>
  </md-dialog-content>
  <md-dialog-actions>
    <button md-raised-button color="primary" [md-dialog-close]="false" class="space right">Cancel</button>
    <button md-raised-button color="accent" [md-dialog-close]="true">{{btnText}}</button>
  </md-dialog-actions>
</form>
