
<h2 mat-dialog-title fxFlexLayout="row">
  <span fxFlex>{{title}}</span>
  <button mat-mini-fab color="warn" [mat-dialog-close]="false" matTooltip="Close"><mat-icon>close</mat-icon></button>
</h2>

<mat-dialog-content>
  <mat-horizontal-stepper linear>
    <mat-step [stepControl]="part1Form">
      <form #part1Form="ngForm">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field>
          <input matInput #name="ngModel" name="firstName" placeholder="First Name" type="text" [(ngModel)]="user.FirstName" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput #name="ngModel" name="lastName" placeholder="Last Name" type="text" [(ngModel)]="user.LastName" required>
        </mat-form-field>
        <div>
          <button mat-raised-button color="accent" matStepperNext [disabled]="!part1Form.valid">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="part2Form">
      <form #part2Form="ngForm">
        <ng-template matStepLabel>Login Credentials</ng-template>
        <div>
          <mat-form-field>
            <input matInput #name="ngModel" name="email" placeholder="Email" type="text" [(ngModel)]="user.Email" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput #name="ngModel" name="position" placeholder="Position" type="text" [(ngModel)]="user.Position" required>
          </mat-form-field>
          <mat-form-field *ngIf="!isEdit">
            <input matInput #name="ngModel" name="password" placeholder="Password" type="password" [(ngModel)]="user.Password" required>
          </mat-form-field>
        </div>
        <div>
          <h1>Assign Role(s)</h1>
          <mat-chip-list class="space top bottom">
            <mat-chip *ngFor="let role of user.UserRoles" selectable="false" removable="true" (remove)="removeRole(role)">
              <span>{{role.Name}}</span>
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
          <mat-form-field class="space top">
            <mat-select #role="ngModel" name="userRole" placeholder="Role" [(ngModel)]="roleStr">
              <mat-option *ngFor="let role of roles" [value]="role.title">{{role.title}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="addRole()">Add</button>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-raised-button color="accent" matStepperNext [disabled]="!part2Form.valid">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button color="accent" [mat-dialog-close]="true">{{btnText}}</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
