/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/

html, body, app-root, .full {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

[hidden] {
  visibility: hidden !important;
}

.space.top {
  margin-top: 16px;
}

.space.bottom {
  margin-bottom: 16px;
}

.space.right {
  margin-right: 16px;
}

.space.left {
  margin-left: 16px;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px grey !important;
}
